.about__container {  
  max-width: 700px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  margin: 2rem;
}

.about__logo {
  width: 15rem;
}

.about__titulo {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.about__texto {
  line-height: 1.5rem;
}

.about__texto-bold {
  font-weight: 700;
}

.vantagens__container {
  margin: 1rem 0;
}

.vantagens__lista {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 0;
  
}

.vantagens__item {
  width: 200px;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.24);
  padding: 0.5rem;
  border-radius: 20px;
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}