body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

nav{
    background-color: rgb(30,61,30);
    padding: 10px;

}header nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav li{
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

nav ul li a:hover {
    background-color: rgb(18, 40, 18);
}

footer{
    background-color: rgb(30,61,30);
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    gap: 5px;
}